  div {
    text-align: left;
    /* border-style: dotted; */
    width: 600px;
    padding: 0 5px;
    box-sizing: border-box;
    margin: auto;
  }
  table {
    border-collapse: collapse;
  }
  table, th, td {
    border: 1px solid black;
  }